body {
    scroll-behavior: smooth;
}
html {
    min-height: 100%;
    background-color: #2a347a;
}
.bluefade {
    background-image: linear-gradient(to bottom, white 12%,rgba(255,255,255,0) 40%,rgba(255,255,255,0) 84%,#2a347a 100%), url('oslo-by-night.jpg');    
    background-repeat: no-repeat;
    background-size: cover;
    height: 610px;
}
.headerpadding{
    padding-top: 10px;
    padding-bottom: 10px;
}
.white{
    background-color: white !important;
}
.w70{
    width: 70%;
}
.card {
    width: 50%;
    margin: 0 auto;
    margin-top: 15px;    
}
.card-body {
    padding: 20px;
}

.btn-primary-color {
    background-color: #2a347a;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(235, 235, 255, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 75%;
    text-align: left;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.tt-hint {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #999;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.tt-menu {
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.tt-suggestion {
    font-size: 22px; /* Set suggestion dropdown font size */
    padding: 3px 20px;
}

.tt-suggestion:hover {
    cursor: pointer;
    background-color: #0097CF;
    color: #FFFFFF;
}

.tt-suggestion p {
    margin: 0;
}

.card {
    min-width: 800px;
}

.btn-success {
    width: 100%;
    height: 3.5rem;
    font-size: 1.5rem;
}

.btn-success:hover {
    background-color: #258f3d;
}

.btn-primary {
    background-color: #2a347a;
    border-color: #2a347a;
}

.btn-primary:hover {
    background-color: #28306b;
    border-color: #28306b;
}
.nav-link {
    color: gray;
}

    .nav-link:hover {
        color: #2a347a;
    }

    .nav-link.active {
        color: #2a347a !important;
    }

.loggInnCard{
    max-width: 600px !important;
}